#border {
	border:3px;			
	border-style:inset; 	
	border-color:Blue; 
	border-radius:10px;  
	width:165px;
	padding: 5px;
}

header {
	border: 4px solid black;
	padding: 10px;
	
}

body {
	background-color:LightBlue;
	margin: 15px auto;
	width: 900px;
	padding:10px;
}

img {
	border: 10px solid blue;
	border-radius: 10px;
	background-color: LightBlue;
}

main {
	float: left;
	width: 40%;
	height: 500px;
	padding: 10px;
	border: 1px solid black;
}

aside {
	float: right;
	width: 40%;
	height: 500px;
	padding: 10px;
	border: 1px solid black;
}
